<!DOCTYPE html>
<html lang="en" data-reactroot="">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="dropbox-domain-verification" content="" />
    <meta name="google-site-verification" content="" />
    <title>VendorForest – The world largest vefied vendors.</title>
    <meta property="fb:app_id" content="" />
    <meta
      name="description"
      content="When you need to hire someone — a landscaper, a DJ, anyone — VendorForest finds them for you for free. Get estimates right now from pros ready to do the job."
    />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <link rel="manifest" href="/static/asset-manifest.json" />
    <style type="text/css">
      <%- CSS %>
    </style>
    <script>

      var chat_appid = "53715";
      var chat_auth = "e6663180c551c4da4cb5e2a655a3ec4f";
      var chat_id = ""; // Intentionally left blank
      var chat_name = ""; // Intentionally left blank
      var chat_avatar = ""; // Intentionally left blank
      var chat_link = ""; // Intentionally left blank
      var chat_height = "600px";
      var chat_width = "1920px";
      var chat_iframe = {}; // Intentionally left blank
    </script>
  </head>
  <body>
    <div id="root"><%- MARKUP %></div>
    <%- INITIAL_STATE %>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <script src="/static/js/lightslider.min.js"></script>
    <!-- All you have to do is include the reload script and have it be on every page of your project -->
    <!-- You do not create this route, reload creates it for you automatically -->
    <script src="<%- HOT_RELOAD %>"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </body>
</html>
